/**********************************
* GENERAL
***********************************/
.container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.hud {
  margin-left: 25%;
  display: flex;
  height: 25%;
  width: 50%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;

  background-color: black;
  font-family: "Comic Sans MS";
  font-weight: 700;
  word-spacing: 2px;
  color: white; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;'
  align-items: center;
}


/**********************************
* CARDS
***********************************/
.card {
  flex-basis: 2em;
  height: 2em;
  border: 1px solid orange;
  background: #FBFBFB;
  box-shadow: 2px 2px 4px grey;
  border-radius: 25%;
  font-size: 3em;
  text-align:center;  
}

.card-back  {
  background-size: 100px 100px;
  background-color: black;
}

.disabled {
  pointer-events: none;
  opacity: 0.9;
  flex-basis: 2em;
  height: 2em;
  border: 1px solid orange;
  background: #FBFBFB;
  box-shadow: 2px 2px 4px grey;
  border-radius: 25%;
  font-size: 3em;
  text-align:center;
}

.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 5; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,.9); /* Black w/ opacity */
   color: white; 
   text-align: center;  
}

.winModal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 5; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,.9); /* Black w/ opacity */
   color: white;
   justify-content: center; 
   text-align: center;  
}
.modal-text, .winModal-text {
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   justify-content: center;  
}

.close, .winClose {
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}
.close:hover,
   .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}

/*.winModal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}*/

/*.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 85%;
  position: relative;
  font-family: 'Comic Sans MS', cursive;
}*/

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

